<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="Gyan Bhoomi School, Dobhi - Providing top-quality education with modern facilities, experienced teachers, and a holistic learning environment. Admissions Open!">
    <meta name="keywords" content="Gyan Bhoomi School, Dobhi, Best School, MP Board School,Top Schools in Dobhi">
    <meta name="author" content="Gyan Bhoomi School">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#007bff">
    <link href="/img/school.png" rel="icon" type="img/png">
    <meta name="description" content="Gyan Bhoomi Public High School is a school in Distric:Narsingpur Madhya Pradesh.">
    <title>Gyan bhoomi School Dobhi</title>

    <meta property="og:title" content="Gyan Bhoomi School, Dobhi - Quality Education for Bright Future">
    <meta property="og:description"
        content="Providing top-quality education with modern facilities, experienced teachers, Admissions Open!">
    <meta property="og:url" content="https://gyanbhoomischool.in">
    <meta property="og:type" content="website">


</head>

<body>

    <section>
        <%-include("popup.ejs")%>
        <%-include('navbar.ejs')%>
        <%-include("p-one.ejs")%>
            <%-include("p-t.ejs")%>
                <%-include("p-three.ejs")%>
                    <%-include("p-four.ejs")%>
                        <%-include("p-topper.ejs")%>
                            <%-include("footer.ejs")%>

    </section>
</body>

</html>